<div class="field">
  <label class="label"> {{ mylabel }}</label>

  <div class="control">
    <input
     class="input"
     [ngClass]="{ 'is-danger': showErrorsLogic() }"
     [formControl]="mycontrol"
     />
    </div> <!-- conrol class-->

    <!-- Option-1 for conditionaly defining ngClass: 
      [ngClass]="{ 'is-danger': mycontrol.dirty && mycontrol.touched && mycontrol.errors}" 
      
      The issue with this option is that it is duplicated 
        wherever we need the condition for an error, so now it is in the [ngClass] and also in the <ng-container *ngIf directive...

      <ng-container *ngIf="mycontrol.dirty && mycontrol.touched && mycontrol.errors"> 
    -->

  <ng-container *ngIf="showErrorsLogic()">
    <div class="help is-danger" *ngIf="mycontrol.errors.required">Value is required.</div>
    <!-- <div *ngIf="mycontrol.errors['minlength']"> -->
    <div class="help is-danger" *ngIf="mycontrol.errors.minlength">
      Need to be at least
      <!-- {{ mycontrol.errors["minlength"]["requiredLength"] }} -->
      {{ mycontrol.errors.minlength.requiredLength }}
      charecters, but you entered
      <!-- {{ mycontrol.errors["minlength"]["actualLength"] }} -->
      {{ mycontrol.errors.minlength.actualLength }}
    </div>

    <div class="help is-danger" *ngIf="mycontrol.errors.maxlength">
      Too many characters, you entered  
      {{ mycontrol.errors.maxlength.actualLength }}
      , must not exceed 
      {{ mycontrol.errors.maxlength.requiredLength }}
      characters.
    </div>

    <div class="help is-danger" *ngIf="mycontrol.errors.pattern">
      Invalid format.
    </div>
  </ng-container>
</div>
<!-- class "field"-->
